* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

div {
	display: block;
}
html{
	background: #f4f4f4;
}

.container{
	position: relative;
}
.banner {
	position: relative;
	width: 100%;
	height: 670px;
}
.banner img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.banner .banner-dot {
    width: 500px;
    padding: 0 10px;
    height: 25px;
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -250px;
    bottom: 20px;
    text-align: center;
}
.banner-dot .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
	background-color: transparent;
	width: 9px;
	height: 9px;
	border: 1px solid #fff;
}
/*导航栏*/
.container{
	background-color: transparent;
	position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
}
.container .meizu-header{
	width: 100%;
	height: 82px;
}


.container .meizu-header-wrap-1240{
	width: 1240px;
	height: 82px;
	margin: 0 auto;
	position: relative;
}
/*导航栏左边Meizu部分的属性*/
.container .meizu-header-wrap-1240 .left{
	font-size: 44px;
	font-weight: bolder;
	height: 82px;
	float: left;
	text-align: center;
	line-height: 81px;
	font-size: 36px;
	color: #fff;
}

/*导航栏中间部分链接的属性*/
.container .meizu-header-wrap-1240 .topbar-nav{
	width: 680px;
	height: 82px;
	display: inline-block;	
	position: absolute;
	float: left;
	margin-left: 190px;
}

.container .meizu-header-wrap-1240 .topbar-nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.container .meizu-header-wrap-1240 .topbar-nav ul li{
	float: left;
	
}

.container .meizu-header-wrap-1240 .topbar-nav ul li a{
	display: block;
	width: 60px;
	height: 82px;
	color:#fff;
	text-decoration: none;
	line-height: 82px;
	font-size: 14px;
	margin-right: 15px;
}

.container .meizu-header-wrap-1240 .topbar-nav ul li a:hover{
	color: skyblue;
}

/*导航栏右边部分的属性*/
.container .meizu-header-wrap-1240 .right{
	width: 250px;
	height: 82px;
	line-height: 82px;
	
	float: right;
}
/*导航栏右侧输入框的属性*/
.container .meizu-header-wrap-1240 .right .wb{
	position: relative;
	width: 170px;
	height: 30px;
	border-radius: 20px;
	border: 0;
	line-height: 30px;
	background-color:white;
	margin-top: 24px;
	float: left;
}

.container .meizu-header-wrap-1240 .right .wb input{	
	display: block;
    border: 0;
    padding: 0;
    outline: 0;
    width: 127px;
    height: 20px;
    margin-left: 15px;
    margin-top: 5px;
    transition: width .5s;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    background: transparent;
    box-sizing: content-box;
    outline-offset: 0;
}
.container .meizu-header-wrap-1240 .right .wb  a{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 36px;
    height: 32px;
    background-position: center;
    text-decoration: none;
    color: #333;
}
.container .meizu-header-wrap-1240 .right .dl{
	position: relative;
	display: block;
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    margin-top: 24px;
    float: left;
    margin-left: 10px;
}

.container .meizu-header-wrap-1240 .right .dl a{
	text-decoration: none;
	color: #fff;
	
}
.container .meizu-header-wrap-1240 .right .dl a i{    
	font-size: 22px;
}
.container .meizu-header-wrap-1240 .right .dl .dlu {
	width: 98px;
	height: 140px;
	position: absolute;
    right: 0;
    z-index: 1;  
    top: 33px;
    left:-30px;
  
}
.container .meizu-header-wrap-1240 .right .dl .dlu .meizu-header-user-dropdown{
    width: 98px;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    display: none;
}
.container .meizu-header-wrap-1240 .right .dlu ul:after{
	content: "";
	display: block;
	position: absolute;
	width:10px;
	height: 10px;
	top: -5px;
	left: 35px;
	background: white;
	transform: rotate(45deg);
}
.container .meizu-header-wrap-1240 .right .dl .dlu ul li{
	width: 100%;
	font-size: 12px;
    display: block;
    height:30px ;
   
}
.container .meizu-header-wrap-1240 .right .dl .dlu ul li a{
	width: 100%;
    height:30px ;
    color: #333;
}
.container .meizu-header-wrap-1240 .right .dl .dlu ul li a:hover{
	color: deepskyblue;
}
.container .meizu-header-wrap-1240 .right .gw{
	display: block;
    width: 29px;
    height: 29px;
    text-align: center;
     margin-top: 24px;
    line-height: 29px;
	float: left;
	margin-left: 10px;
}
.container .meizu-header-wrap-1240 .right .gw a{
	text-decoration: none;
	color: #fff;
}
.container .meizu-header-wrap-1240 .right .gw a i{
	font-size: 22px;
		
}
/*选择*/
.section-box{
	margin-bottom: 50px;
}
.section-box .section-box-adv{
	width: 100%;
	height: auto;
    padding-bottom: 45px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.section-box .section-box-adv .index-center-wrapper{
	width: 1240px;
	height: 232px;
    margin: auto;
}
.section-box .section-box-adv li{
	float: left;
    position: relative;
    width: 25%;
    height: 100%;
    padding-top: 45px;
}
.section-box .section-box-adv li a{
	display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
}
.section-box .section-box-adv li a img{
	height: 130px;
}
.section-box .section-box-adv li a em{
	display: block;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}
.section-box .section-box-adv li a p{
	font-size: 14px;
    color: #999;
}
/*魅族手机*/
.index-adv-center {
    margin-bottom: 50px;
}
.section-box  .section-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.section-box .section-title h3{
	font-size: 1em;
    font-weight: 400;
    font-style: normal;
}
/*第一个展示部分*/
.section-box  .section-box-adv{
	height: 450px;
    overflow: hidden;
    background: none;
    border-bottom: none;
}
.section-box  .section-box-adv .bgbox{
	width: 100%;
    transition: all .2s linear;
    position: relative;
    display: block;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/display.jpg);
}
/*每个展品*/
.section-box .section-box-row .index-center-wrapper{
	width: 1240px;
	margin:auto;
}
.section-box  .section-box-row .index-center-wrapper .clearfix{
    width: 1240px;
    height: 1005px;
	margin:auto;
}
.section-box  .section-box-row li {
    float: left;
    position: relative;
    width: 303px;
    height: 375px;
    margin-right: 9px;
    margin-top: 10px;
    background-color: #fff;
    overflow: hidden;
    transition: all .3s ease;
}
.section-box-row .box-img {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}
.section-phone-box .section-box-row li.big {
    width: 615px;
    height: 610px;
}
.section-phone-box .section-box-row li .section-item-box {
    height: 100%;
}
.section-phone-box .section-box-row li.big .box-img {
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    color: #515151;
}
.big .goods-box .goods-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 460px;
    margin-left: -250px;
    margin-top: 30px;
}
.section-box .section-box-row li.big .box-info {
    top: 58px;
}
.goods-box .box-info {
    position: absolute;
    top: 270px;
    left: 0;
    width: 100%;
    text-align: center;
}
.section-box .section-box-row li.big .goods-name {
    color: #333;
    font-size: 28px;
    margin-bottom: 0;
}
.goods-box .box-info span {
    display: block;
}
.section-phone-box .section-box-row li.big .goods-desc {
    color: #333;
    font-size: 18px;
    margin-bottom: 3px;
}
.goods-box .box-info .goods-price {
    position: relative;
    display: inline-block;
    color: #c00;
    font-size: 22px;
    padding-left: 14px;
}
.goods-box .box-info .goods-price i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 14px;
}
i {
    font-style: normal;
}
.goods-box .box-info .goods-price em {
    font-size: 16px;
}
.goods-box .product-sign.red {
    background-image: linear-gradient(120deg,#ff3149,#ff64a6);
}
.goods-box .product-sign {
    position: absolute;
    top: 30px;
    left: 30px;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
}
.section-box-row li.Phone6 {
    margin-right: 0;
}
.section-phone-box .section-box-row li.big2 {
    margin-right: 0;
}
.goods-box .goods-img {
    height: 230px;
    margin-top: 30px;
}
.goods-box .box-info .goods-desc {
    color: #999;
    font-size: 14px;
}
.goods-box .product-sign.blue {
    background-color: #2e74f6\0;
    background-image: linear-gradient(120deg,#2e74f6,#56bdf9);
}
.section-phone-box .section-box-adv .bgbox1{
	width: 100%;
    height: 100%;
    transition: all .2s linear;
    position: relative;
    display: block;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/display2.jpg);
}
.section-phone-box .section-box-row .index-center-wrapper .clearfix1{
    width: 1240px;
    height: 770px;
	margin:auto;
}
.section-box-row li.last, .section-phone-box .section-box-row li.Phone6 {
    margin-right: 0;
}
.goods-box .goods-set-img {
    margin-top: 0;
    width: 100%;
    height: 100%;
}
.section-phone-box .section-box-adv .bgbox2{
	width: 100%;
    height: 100%;
    transition: all .2s linear;
    position: relative;
    display: block;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/display3.jpg);
}
.section-phone-box .section-box-adv .bgbox3{
	width: 100%;
    height: 100%;
    transition: all .2s linear;
    position: relative;
    display: block;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/display4.jpg);
}
.section-comment-box .section-box-row .index-center-wrapper .clearfix3{
    width: 1240px;
    height: 388px;
	margin:auto;
}
.section-comment-box .comment-img-wp {
    height: 190px;
    position: relative;
    overflow: hidden;
}
.section-comment-box .comment-img-wp img{
  width: 100%;
  height: 100%;
}
.section-comment-box .comment-user-info {
    overflow: hidden;
    height: 42px;
    line-height: 42px;
    margin-top: 10px;
    padding: 0 15px;
}
.section-comment-box .comment-user-info img {
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    box-shadow: 1px 1px 1px 1px #eee;
}
.section-comment-box .comment-user-info .comment-username {
    margin-left: 15px;
    text-align: left;
    float: left;
    color: #333;
    font-size:14px ;
}
.section-comment-box p {
    padding: 10px 15px 15px;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    height: 66px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.section-comment-box .comment-tip {
    color: #999;
    display: block;
    padding: 0 15px;
    margin-top: 10px;
    text-align: left;
}
.section-video-box .section-box-row .index-center-wrapper .clearfix{
    width: 1240px;
    height: 244px;
	
}
.section-video-box .section-box-row .index-center-wrapper .clearfix li{
   width: 303px;
   height: 244px;
   
   margin: 0;
   margin-right: 9px;
}
.section-video-box .section-box-row .index-center-wrapper .clearfix li.last{
margin-right: 0px;
}
.section-video-box .comment-img-wp {
    height: 190px;
    position: relative;
    overflow: hidden;
}
.section-video-box .comment-img-wp img{
    width:100%;
    height: 100%;
}
.section-video-box p {
    font-size: 14px;
    line-height: 55px;
    color: #515151;
}
.section-video-box .comment-img-wp i {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
}
.section-video-box .comment-img-wp i:after {
position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #000;
    left: 45%;
    top: 32%;
}
/*底部*/
.meizu-footer {
    margin: 0;
    padding: 0;
    z-index: 999;
    font-size: 14px;
    color: #515151;
    position: relative;
    background-color: #fff;
}
.meizu-footer .meizu-footer-link {
    padding: 48px 0 20px;
    border-top: 1px solid #f1f1f1;
}
.meizu-footer .meizu-footer-wrap {
    max-width: 1240px;
   height: 179px;
   margin: auto;
}
.meizu-footer .meizu-row {
    max-width: 1240px;
    position: relative;
    height: 85px;
}
.meizu-footer .meizu-footer-service {
    width: 1000px;
    float: left;
}
 .meizu-footer-service li {
    float: left;
    text-align: center;
    width: 15%;
}
.meizu-footer-service li a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    font-size: 12px;
}
 .meizu-footer-service li img {
    width: 50px;
    display: block;
    margin: 0 auto;
}
 .meizu-footer-service li span {
    line-height: 30px;
    color: #999;
}
.meizu-footer .onlive-server {
    float: right;
    text-align: right;
    margin-top: -18px;
}
.meizu-footer .onlive-server span {
    color: #999;
    font-size: 12px;
    line-height: 30px;
}
.meizu-footer .onlive-server .tel {
    color: #00c3f5;
    font-size: 25px;
    font-weight: 400;
    margin-top: -6px;
    line-height: 40px;
}
.meizu-footer .onlive-server .onlive-btn {
    height: 30px;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 20px;
    margin-top: 3px;
    display: inline-block;
    font-size: 14px;
    background: #0bbbef;
    text-decoration: none;
}
.meizu-footer .footer-hr {
    margin: 10px auto 28px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    padding: 0;
    color: #333;
}
.meizu-footer .meizu-footer-info-left{
width: 962px;
height: 54px;
}
.meizu-footer .meizu-footer-info-left ul{
width: 100%;
height: 18px;
}
.meizu-footer .meizu-footer-info-left ul li {
    padding-right: 15px;
    border-right: 1px solid #d6d6d6;
    float: left;
    height: 18px;
    margin-right: 15px;
}
.meizu-footer .meizu-footer-info-left .no-border {
    border: 0;
    position: relative;
    border-right: 0;
}
.meizu-footer-co .meizu-row{
width: 1240px;
height: 54px;
margin: auto;
}
.meizu-footer .meizu-footer-info {
    color: #999;
    text-align: left;
    font-size: 12px;
    width: 100%;
}
.meizu-footer .meizu-footer-info-left{
width: 992px;
height: 54px;
float: left;
}
.meizu-footer .meizu-footer-info  a {
    display:inline-block ;
    line-height: 18px;
    text-decoration: none;
    color: #999;
}
.meizu-footer .meizu-footer-info  a:hover{
color: skyblue;
}
.meizu-footer-certificate {
    padding-top: 8px;
}
.meizu-footer-certificate a {
    margin: 0 3px;
}
.meizu-footer-info .ii-subscribe {
    float: right;
    margin-top: 25px;
    position: relative;
}
.meizu-footer .meizu-footer-info  a i{
    font-size: 24px;
}
.ii-hr {
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #eee;
    margin: 0 10px;
    position: relative;
  
}
.meizu-footer-info .ii-subscribe a.ii-ml-md:hover i{
   color: red;
}
.meizu-footer-info .ii-subscribe a.ii-ml-mx:hover i{
   color: greenyellow;
}
.meizu-footer-info .ii-subscribe a.ii-ml-mk:hover i{
   color: orange;
}
.section-box .section-box-row .index-center-wrapper ul li:hover{
  box-shadow: 0 3px 30px  #dedede;
}

/*侧栏*/
.scroll{
        width: 50px;
        height: 152px;
        position: fixed;
        right: 0px;
        bottom: 100px;
        z-index: 9999;
}
.scroll li{
  display: block;
  width: 123px;
  height: 50px;
  background: #d8d8d8;
  margin-bottom: 1px; 
}

.scroll li .box{
     display:block;
     width: 50px;
     height: 50px;
     line-height: 50px;
     background: #d8d8d8;
     text-align: center;
     float: left;
}
.scroll .move:hover{
	transform: translateX(-73px);
	background: #515151;	
}
.scroll .move:hover .icon{
	background: #515151;	
}
.scroll li .box i{
   color: #fff;
}
.scroll li .box .icon i{
   font-size: 22px;
}
.scroll li .store-magnet-text {
    display: inline-block;
    width: 73px;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
    color: #fff;
}
.scroll .boxli{
  position: relative;
}
.scroll .boxli:hover .box {
	background: #515151;
}
.scroll .boxli:hover .store-magnet-download-body{
	opacity: 1;
}
.scroll .boxli .store-magnet-download-body {
   position: absolute;
    left:-162px;
    bottom: 0;
    width: 162px;
    height: 200px;   
    background: #515151;
    transition: height .2s linear;
    line-height: normal;
     opacity: 0;
}
.store-magnet-qrcode {
    width: 145px;
    height: 145px;
    margin: 9px;
   
}
.store-magnet-download-text {
    margin-bottom: 16px;
    text-align: center;
    font-size: 12px;
}
/*选项卡*/
.meizu-header-sub{
 width: 100%;
 height: 187px;
 background: white;
 display: none;
}
.meizu-header-sub ul {
    width: 1240px;
    overflow: hidden;
    padding: 5px 0 20px;
    list-style: none;
    text-align: center;
    margin: auto;
}
.meizu-header-sub li {
    display: inline-block;
    text-align: center;  
    width: 151px;
    height: 156px;
    list-style: none;
    float: left;
    margin-right: 4px;
    font-size: 14px;
}
.meizu-header-sub li.last{
margin-right: 0;
}
.meizu-header-sub a {
    font-size: 12px;
    white-space: nowrap;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    display: block;
    padding: 0 16px;
    cursor: pointer;
    position: relative;
    z-index: 99;
    text-decoration: none;
    color: #666;
}
.meizu-header-sub a:hover {
    color: #111;
}
.meizu-header-sub a i {
    display: block;
    width: 120px;
    height: 120px;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 120px;
}
.meizu-header-sub a img{
width: 120px;
height:120px ;
}
.meizu-header-sub  em {
    display: block;
    color: #666;
    font-style: normal;
}
.app{
width: 100%;
height:340px;
background: #fff;
padding: 20px 0;
display: none;
}
.app .appbox{
   width: 1240px;
   height: 300px;
   background: red;
   margin:auto;
   
}
.app .appbox img{
   width: 100%;
   height: 100%;
}
